@using ClickNClaim.WebPortal.Resources
@model  ClickNClaim.Common.MeetingDebate
@{
    ViewBag.Title = "VisioDebate";
}



<div class="container view-container">
    <h1>@Model.Title</h1>
<div class="card">
    <div class="card-content">
        <h2>@ButtonsAndRecurring.Description</h2>
        <p>@Model.Description</p>
    </div>
</div>
</div>

