
#addNewProofModal .input-field input{
    margin-bottom:15px !important;
}

.drop-area-div div.col.s4{
    text-align:center;
}

.drop-area-div p{
    margin-top:10px;
}

.fileToDownload{
    cursor:pointer;
    color : #2196F3;
}

.progress{
    position:absolute;
    margin:0;
    bottom:0;
    left:0;
}