@using ClickNClaim.WebPortal.Resources
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">@Shared.LockedOut1</h1>
    <h2 class="text-danger">@Shared.LockedOut2</h2>
</hgroup>
