USE LES
GO


/*****************************************************************************************/
/**************************** Add DbVersionProperty *************************************/
EXEC sp_addextendedproperty 
@name = N'DbVersion', 
@value = '1'
GO
/*****************************************************************************************/


/*****************************************************************************************/
/********************************** Get DbVersionProperty ********************************/
/*****************************************************************************************/
DECLARE @DbVersion INT
SELECT @DbVersion = CAST(value AS INT)
FROM fn_listextendedproperty(default, default, default, default, default, default, default)
WHERE name = 'DbVersion'

/*****************************************************************************************/
/*************** Check DbVersion if we have to run the script ****************************/
/*****************************************************************************************/
IF(@DbVersion <> 1)
BEGIN
	RAISERROR('You must be in DbVersion 1 to execute this script',20, 1) WITH LOG 
END
/*****************************************************************************************/


CREATE TABLE Country (
  Id int NOT NULL ,
  A2 char(2) NOT NULL,
  name nvarchar(80) NOT NULL,
  nicename nvarchar(80) NOT NULL,
  A3 char(3) DEFAULT NULL,
  numcode int DEFAULT NULL,
  phonecode int NOT NULL,
  PRIMARY KEY (Id)
) 
GO
--
-- Dumping data for table `country`
--


/*****************************************************************************************/
/*************************** Update DbVersionProperty ***********************************/
EXEC sp_updateextendedproperty @name = N'DbVersion', @value = '2';
GO
/*****************************************************************************************/