@using ClickNClaim.WebPortal.Resources
@{
    ViewBag.Title = Account.ChangePassword;
}


<div class="container root-container">
    <div class="row">
        <div class="col l8 offset-l2 m12 s12">
            <div class="card">
               <h4>@ViewBag.Title</h4>
                <div>
                    <p>
                       @Account.EmailWillBeSentToResetPassword
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section css{
    <style type="text/css">
        .root-container {
            margin-top: 40px;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            ko.applyBindings({ data: '' }, $("#wrapper")[0]);
        })

    </script>

}


