@using ClickNClaim.WebPortal.Resources
@{
    ViewBag.Title = Account.PasswordHasBeenReset;
}
<div class="container root-container">
    <div class="row">
        <div class="col l6 offset-l3 m12 s12">
            <div class="card">
                <hgroup class="title">
                    <h3>@ViewBag.Title.</h3>
                </hgroup>
                <div>
                    <p>
                        @Account.PasswordHasBeenUpdatedPlease @Html.ActionLink(Account.ClickHereToConnect, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section css{
    <style type="text/css">
        .root-container {
            margin-top: 40px;
        }
    </style>
}




@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            ko.applyBindings({ data: '' }, $("#wrapper")[0]);
        })

    </script>
}
